* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: rgba(52, 51, 57, 255);
}

#bakgrund {
    background-image: url(../img/sushi.jpg);
    background-size: 100%;
    height: 100vh;
}

#bakgrund_liten {
    background-image: url(../img/sushi.jpg);
    background-size: 100%;
    height: 100px;
}

nav {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.welcome_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-size: 1.25rem;
    text-shadow: 2px 2px black;
}

.GridWrapper {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-rows: 500px 500px;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
    "a1 i1" 
    "i2 a2";
}

.presentation {
    grid-area: a1;
    height: 500px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    color: white;
    font-size: 1rem;
}

.presentation_img {
    grid-area: i1;
    height: 500px;
    width: 50vw;
}

.maten {
    grid-area: a2;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    color: white;
    font-size: 1rem;
}

.maten_img {
    grid-area: i2;
    height: 100%;
    width: 50vw;
}

#link_list {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 0.95rem;
    font-weight: lighter;
}

.nav_link:hover {
    color: rgb(240, 9, 9);
    font-weight: bold;
}

.meny_grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 100%;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-areas: 
    "su dr sb";
}

#meny_sushi_flex {
    display: flex;
    height: 100vh;
    width: 33vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#meny_drink_flex {
    display: flex;
    height: 100vh;
    width: 33vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meny_sushi_list {
    grid-area: su;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 5rem;    
}

.meny_drink_list {
    grid-area: dr;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 5rem;    
}

li {
    padding: 2.1rem;
}

.sushi_meny_bild {
    grid-area: sb;
    height: 30rem;
    padding: 6rem;
}

.drinkar_meny_bild {
    grid-area: sb;
    height: 30rem;
    padding: 6rem;
}

.mitten_flex {
    display: flex;
    width: 45vw;
    align-items: center;
    flex-direction: column;
}

.om_oss_flex {
    display: flex;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    font-size: 1.4rem;
}

#om_oss {
    margin: 3rem;
    text-align: justify;
    text-transform: inherit;
}


.om_oss_img {
    height: 400px;
    padding: 3rem;
}

